.filter-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 50px;
  padding: 20px;
}

.filter-container input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
